<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board page</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">


    <script src="JS/scripts.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let socket = io();

        let gameCode = "<%= gameCode%>";
        let playerID = '<%= thisPlayerID%>';
        let moveArray = [];

        socket.on('connect', function () {
            console.log('socket id is: ' + socket.id);

            handshake = {
                gameCode : gameCode,
                playerID : playerID,
                socketID : socket.id
            }

            console.log('sending handshake...');
            socket.emit('joiningHandshake', JSON.stringify(handshake));

        });

        socket.on('updateGameMessage', function (msg) {
            console.log('updateGameMessage recieved!');
            $('#gameMessage').html(msg);
        })

        socket.on('updateBoard', function (msg) {
            console.log('board update received');
            $('#board').html(msg);

        })

        $(document).ready(function(){
            $(document).on('click', '.boardTile', function (event) {//deviation from usual syntax to allow for dynamic elements
                // console.log('tile clicked!');
                // console.log(this.classList);

                prepareMove(this);
            });

            $(document).on('click', '#debugTrigger', function (event) {//deviation from usual syntax to allow for dynamic elements
                console.log('debug trigger clicked!');

                socket.emit('debug');
            });
        });

        function prepareMove(tile){
            if(moveArray.length > 0){
                moveArray.push(tile.id);
                console.log('MOVE PREPARED: ' + moveArray);
                sendMove(gameCode, playerID, moveArray);
                moveArray = [];
            }
            else if(tile.classList.contains('occupied')){
                moveArray.push(tile.id);
            }
        }

        function sendMove(gameCode, playerID, moveArray){

            move = {
                gameCode : gameCode,
                playerID : playerID,
                currentPos : moveArray[0],
                requestedPos : moveArray[1]
            }

            socket.emit('moveRequest', JSON.stringify(move));
        }

    </script>


</head>
<body>
<h1>board page reached!</h1>
<h2>Game code is: <%= gameCode%></h2>
<h5>user1 session ID = <%= player1ID%> </h5>
<p>vs</p>
<h5>user2 session ID = <%= player2ID%></h5>
<br>

<p id="debugTrigger">debug trigger here!</p>
<p id="gameMessage"></p>
<div id="board">

</div>
</body>
</html>