<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testMainPage</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<!--set username-->
<!--<form action="mainMenuPage.ejs" method="post">-->
<!--    <p>set username</p>-->
<!--    <input type="text" id="username" name="username" value="player1">-->
<!--    <input type="submit" value="set username">-->
<!--</form>-->

<h1>Main Page</h1>

<a href="loginPage.ejs">Login here</a>

<br>
<!--create a game and nav to game page-->
<form action="boardPage.ejs" method="post">
    <p>create game</p>
    <input type="hidden" name="requestedAction" value="createGame">
    <input type="submit" value="create game">
</form>

<br>
<!--nav to an existing game page-->
<form action="boardPage.ejs" method="get">
    <p>enter code</p>
    <input type="text" id="codeEntry" name="gameCode" value="abc123">
    <input type="submit" value="Join a Game">
</form>

<br>

<ol>
    <li><%= highScoresList[0].username%> - <%= highScoresList[0].wins%></li>
    <li><%= highScoresList[1].username%> - <%= highScoresList[1].wins%></li>
    <li><%= highScoresList[2].username%> - <%= highScoresList[2].wins%></li>
    <li><%= highScoresList[3].username%> - <%= highScoresList[3].wins%></li>
    <li><%= highScoresList[4].username%> - <%= highScoresList[4].wins%></li>
</ol>




</body>
</html>